div#one {
  width: 100%;
  max-width: 800px;
  margin: auto;
}



.bar { fill: steelblue; }

section {
   position: relative;
}

body {
   background-color: ghostwhite;
   margin: 0 auto;
   font-family: 'Raleway', sans-serif;
}

section {
   margin: 0;
   padding: 0;
}

article {
   padding: 0 1rem;
   margin: 0 auto;
}

article p {
  font-family: Georgia;
  font-size: 1.8rem;
  line-height: 2.2;
  min-height: 1;
  margin: 0;
}

article p:not(:last-of-type) {
  margin: 0 0 1rem;
}

figure {
  align-items: center;
  align-self: flex-start;
  display: flex;
  margin: 0;
  width: 100%;
  justify-content: center;
  top: 0;
  z-index: -1;
}

figure.bringforward{
  z-index: 0;
}

.hero {
  /* Sizing */
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: flex-start;
  padding-left: 60px;
  padding-top: 60px;
  font-size: 90px;
    
    /* Background styles */
  background-image: url(./images/mobile.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}

@media (max-width: 768px) {

  .hero {
    background-image: url(./images/mobile.jpg);
  }
}

#herotext{
  width: 400px;
  text-align: left;
}

